:root {
    --main-green: rgb(131, 208, 38);
    --light-green: rgb(181, 230, 96);
    --medium-green: rgb(54, 172, 0);
    --dark-green: rgb(28, 96, 41);
    --background-yellow: rgb(255, 255, 207);
    --white-yellow: rgba(255, 251, 196, 0.69);
    --carmin: rgb(255, 82, 117)
}