:root {
    --main-green: rgb(186, 250, 90);
    --light-green: rgb(202, 255, 123);
    --medium-green: rgb(110, 233, 33);
    --dark-green: rgb(28, 96, 41);
    --background-yellow: rgba(250, 250, 181, 0.778);
    --white-yellow: rgba(255, 245, 100, 0.475);
    --carmin: rgb(255, 43, 85)
}